.headerDiv {
    height: 5rem;
    width: 100%;
    box-shadow: 0 0 5px var(--color-box-shadow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background-secondary);
    position: relative;
}

.headerLogo {
    height: 100%;
    width: auto;
    margin-left: 1.5rem;
}

.headerLogo:hover {
    cursor: pointer;
}

.headerLogo {
    height: 4rem;
    transition: transform 0.2s ease, filter 0.2s ease;
}

.headerLogo:hover {
    transform: scale(1.05);
    filter: brightness(1.1);
    cursor: pointer;
}

.headerLogo:active {
    transform: scale(0.95);
    filter: brightness(0.95);
}

.menuContainer {
    display: flex;
    align-items: center;
    height: 100%;
}

.menuItems {
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 0;
    opacity: 0;
    transition: al 500ms ease-in-out;
}

.menuItems.open {
    width: auto;
    opacity: 1;
}

.navMenu {
    background-color: var(--color-background-secondary);
    border-radius: 0.5rem 0 0 0.5rem;
}

.navMenu ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navMenu li a,
.navMenu li button {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: var(--color-font-primary);
    transition: al 200ms ease-in-out;
    cursor: pointer;
    border-radius: 0.5rem;
}

.navMenu li a:hover,
.navMenu li button:hover {
    background-color: #edeff0;
    color: var(--color-font-secondary);
    border-radius: 0.5rem;
}

.burgerButton {
    padding: 1rem;
    margin-right: 1rem;
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.burgerButton svg {
    width: 2rem;
    height: 2rem;
}

.burgerButton:hover {
    background-color: #edeff0;
    border-radius: 999rem;
}

.menuIcon {
    width: 1.5rem;
    height: 1.5rem;
    color: var(--color-font-primary);
}
