#homepage-title-div {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}

#h3 {
    font-size: 40px;
    margin: 0;
}

#h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 0;
    text-align: center;
    margin-top: 20px;
}

#homepage-seperator {
    height: 5px;
    width: calc(100vw - 5%);
    border: 3px solid black;
    border-radius: 999px;
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translateX(-50%);
}
